outputs
*.pyc
data/*/processed/stage2/
.vscode
checkpoints/
tmp
.env
saved_models/
data_full
logs/
*.ipynb
dist/*
site/
.DS_Store
data/
ollama-darwin/
ollama-linux-amd64/
Anaconda3-2025.12-2-Linux-x86_64.sh
ollama-linux-amd64.tgz